@page
@model Project.Tesla.Web.Pages.Session.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Session.Id" />
           
            <div class="form-group">
                <label asp-for="Session.Type" class="control-label"></label>
                <input asp-for="Session.Type" class="form-control" />
                <span asp-validation-for="Session.Type" class="text-danger"></span>
            </div>
          
          
            <div class="form-group">
                <label asp-for="Session.ActivityName" class="control-label"></label>
                <input asp-for="Session.ActivityName" class="form-control" />
                <span asp-validation-for="Session.ActivityName" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Session.RewardGoal" class="control-label"></label>
                <input asp-for="Session.RewardGoal" class="form-control" />
                <span asp-validation-for="Session.RewardGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.ActivityDuration" class="control-label"></label>
                <input asp-for="Session.ActivityDuration" class="form-control" />
                <span asp-validation-for="Session.ActivityDuration" class="text-danger"></span>
            </div>
           
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
